{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href="{% static 'style.css' %}" />
  </head>
  <body>
    <header>
      <h1>LifeSync</h1>
      <h2>
        <p class="circle"></p>
        <span class="name">UserID</span>
      </h2>
    </header>
    <section class="container">
      <main class="s">
        <section id="medicine-reminder">
          <h2>Medicine Reminder</h2>
          <label for="medicine-time">Set Reminder (HH:MM):</label>
          <input type="time" id="medicine-time" />
          <button id="set-reminder">Set Reminder</button>
        </section>
      </main>
      <section class="s">
        <section id="water-intake">
          <h2>Water Intake</h2>
          <label for="water-goal">Daily Goal (Liters):</label>
          <input
            type="number"
            id="water-goal"
            placeholder="e.g., 3"
            min="0"
            step="0.1"
          />
          <button id="log-water" style="padding: 5px">Log 250ml</button>
          <p>Total Consumed: <span id="water-total">0</span> L</p>
        </section>
      </section>
      <aside class="s">
        <section id="step-tracker">
          <h2>Step Tracker</h2>
          <p>Steps Taken: <span id="step-count">0</span></p>
          <button id="reset-steps">Reset Steps</button>
        </section>
      </aside>
    </section>
    <footer class="foot">
      <p>Project by <strong>Pied Piper</strong>, 1st Semester Students</p>
      <p>© 2025 All Rights Reserved</p>
      <section class="social_media">
        <lord-icon
          src="https://cdn.lordicon.com/wgtaryar.json"
          trigger="hover"
          style="width: 50px; height: 50px"
        >
        </lord-icon>

        <lord-icon
          src="https://cdn.lordicon.com/wlbymhoo.json"
          trigger="hover"
          colors="primary:#e86830,secondary:#08a88a"
          style="width: 50px; height: 50px"
        >
        </lord-icon>
        <lord-icon
          src="https://cdn.lordicon.com/euybrknk.json"
          trigger="hover"
          colors="primary:#e86830,secondary:#08a88a"
          style="width: 50px; height: 50px"
        >
        </lord-icon>
        <lord-icon
          src="https://cdn.lordicon.com/ubpgwkmy.json"
          trigger="hover"
          colors="primary:#e86830,secondary:#08a88a"
          style="width: 50px; height: 50px"
        >
        </lord-icon>
      </section>
    </footer>
    <script src="https://cdn.lordicon.com/lordicon.js"></script>
    <script src="{% static 'main.js' %}"></script>
  </body>
</html>
