* {
  background-color: #fff;
}
.navigation {
  display: flex;
  flex-direction: row;
}

.container {
  margin-top: 100px;
  margin-bottom: 200px;
  background-color: rgb(0, 120, 188);
  padding: 20px;
  height: 100vh;
  display: grid;
  grid-template-columns: repeat(3, 200px);
  grid-template-rows: 600px 200px;
  gap: 10px;
  justify-content: center;
  grid-template-areas: " m s a" "f f f";
}

main {
  grid-area: m;
}
section {
  grid-area: s;
}
aside {
  grid-area: a;
}
footer {
  grid-area: f;
}

.s {
  padding: 20px;
  background: rgb(84, 84, 84);
  text-align: center;

  color: aliceblue;
}
